$colorEmpresa: #dfffe2;
$blanco: white;
$colorEmpresaOscuro: rgb(170, 214, 174);


// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700;900&display=swap');

.portfolio, .nombre {
    h1,h2,h3,h4,p,a,details,li,ul, summary, label {
        font-family: 'Catamaran', sans-serif;
        line-height: 1;
    }
    p {
        line-height: 1.2;
        margin: 0;

    }
    h1,h2{
        margin: 0;
    }
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Quita el hover azul que se genera en mobile por defecto */

    ::-webkit-scrollbar {
        display: none;
    }
}
